/* Este es un comentario en css*/

/*selector universal. Selecciona todos los elementos*/

*{
    background-color: mediumvioletred;
}
/*Selectores de tipo
selecciona todos los elementos con ese nombre*/

h1{
    font-family:'Kenia', sans-serif;
}
/*body {
   background-color: aqua;
}
p {
    color: blue;
} */